p{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
    text-align: center;
}
h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
}
h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}
h3 {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}
body {
    background-color: #3a4e38;
    margin: 0;
    padding: 20px;
}